@tailwind base;
@tailwind components;
@tailwind utilities;

/* Defines CSS styles that apply to the whole page */
@layer base {

}

/* Defines CSS styles that apply to page components */
@layer components {
    .nav-link-active {
        @apply text-red-800;
    }
    .nav-link-active::before {
        @apply content-[''] absolute w-1/2 h-1 -bottom-1 bg-red-800;
    }

    .nav-link {
        @apply text-black transition duration-200 ease-in-out hover:text-red-800;
    }
    .nav-link::before {
        @apply content-[''] scale-x-0 absolute w-1/2 h-1 -bottom-1 bg-red-800 transition duration-200 ease-in-out hover:scale-x-100 origin-left;
    }

    .left-sidebar-link {
        @apply p-5 rounded-2xl scale-100 transition duration-200 ease-in-out hover:scale-110;
    }
    .left-sidebar-link-active {
        @apply p-4 md:p-5 rounded-2xl bg-red-800 [&>*]:invert;
    }

    .nav-image {
        @apply scale-100 transition duration-200 ease-in-out hover:scale-110;
    }

    .no-scroll {
        @apply h-full overflow-hidden;
    }
}

body, html {
    margin: 0;
    padding: 0;
}

.menu_board {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.category_container {
    border-radius: 10px;
    padding: 0px;
    flex: 1; /* Fill available space */
}

.menu_items_container {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    justify-content: space-between;
    gap: 5px;
    overflow: hidden;
}

/*

.menu_item {
    flex: 1 1 50%;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    background-color:#800000;
    overflow: hidden;
    color:#FFFFFF;
    margin-top: 2px;

}
*/

.item_name {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
    /*margin-top: 5px;*/
}

.item_details {
    flex: 1;
    font-size: 1.5em;
}

.item_price {
    font-weight: bold;
    white-space: nowrap;
    font-size: 1.5em;
}

.menu-main-title {
    font-size: 2.8em; /* Smaller title font size */
    color: #333;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Georgia', serif;
}

.menu-category-title {
    font-size: 2.2em;
    color: #555;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    border-bottom: 2px solid #ccc;
}
.menu_column {
    flex: 1; /* half the width */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
